html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgb(255, 255, 255);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(255, 255, 255);
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(255, 255, 255);
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgb(255, 255, 255);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__background__top {
  width: 1200px;
  height: 42px;
  background-color: rgb(33, 42, 73);
}

.header__top {
  width: 940px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header__logo {
  width: 220px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(238, 54, 67);
}
.header__logo {
  color: #ebeaf3;
  font-family: "ClashDisplay";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__search {
  margin-left: 15px;
}

.input__search {
  width: 250px;
  height: 40px;
  background-color: rgb(33, 42, 73);
  text-decoration: none;
  border: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.header__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  background-color: rgb(33, 42, 73);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.bookmark {
  color: #f6f6fa;
  text-decoration: none;
  border: none;
}

.cart {
  color: #f6f6fa;
  text-decoration: none;
  border: none;
}
.header__checkout {
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(99, 166, 62);
}
.header__order {
  color: #ebeaf3;
  font-family: Arial, Helvetica, sans-serif;

  text-decoration: none;
  border: none;
}
.header__frame {
  width: 1200px;
  height: 278px;
  background-color: #e4e9f5;
}
.header__info {
  width: 940px;
  height: 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header__intermag {
  width: 200px;
  height: 71px;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 25px;
  color: rgb(231, 16, 16);
  display: flex;
  justify-content: left;
  align-items: left;
}
.header__adress {
  width: 282px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e62d0c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 20px;
}
.header__phonenumber {
  margin-left: 15px;
}
.header__street {
  text-shadow: 1px 1px 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.header__login {
  width: 282px;
  height: 47px;
  display: flex;
  justify-content: space-between;
}
.header__reg {
  width: 121px;
  height: 45px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__registration {
  width: 150px;
  height: 45px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__registr {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.header__nav {
  width: 940px;
  height: 60px;
  background-color: rgb(33, 42, 73);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto 0px;
}
.header__menu {
  text-decoration: none;
  color: #e3e2e9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 0px 60px 0px;
}

.main__card {
  width: 940px;
  height: 100%;
  /* height: 409px; */
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  grid-template-areas:
    "card__materials card__tools card__techniq"
    "card__drill card__drill card__sales"
    "card__drill card__drill card__delivery";
}
.card__menu {
  display: block;
  position: relative;
  top: 20px;
  left: 23px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3e2e9;
}
.card__link {
  display: block;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 58px;
  left: 23px;
  width: 135px;
  height: 38px;
  background-color: rgba(247, 240, 223, 0.429);
  text-decoration: none;
  border: none;
  color: white;
  font-size: 15px;
}
.card__immenu {
  display: block;
  position: relative;
  left: 213px;
  bottom: 10px;
}

.card__materials {
  background-color: rgb(243, 177, 9);
}
.card__new {
  display: block;
  position: relative;
  left: 230px;
  bottom: 123px;
}

.card__tools {
  background-color: rgb(85, 203, 229);
}

.card__techniq {
  background-color: #c967a9;
}
.card__drill {
  background-image: url(image/Layer99.png);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.card__drilltexts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  left: 23px;
  top: 23px;
  width: 240px;
  height: 60px;
}
.card__drilltextp {
  font-size: 25px;
  color: white;
}
.card__drilltextnmi {
  width: 258px;
  height: 24px;
  font-size: 20px;
  color: white;
}

.card__linkred {
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 24px;
  top: 132px;
  position: relative;
  width: 192px;
  height: 38px;
  background-color: #e62d0c;
  color: white;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.card__sales {
  background-color: green;
}
.card__delivery {
  background-color: rgb(243, 177, 9);
}

.popular__goods {
  width: 940px;
  height: 427px;
  margin: 60px 0px 60px 0px;
}

.popular__title {
  width: 940px;
  height: 89px;
  background-color: rgb(245, 245, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular__good {
  width: 940px;
  height: 318px;
  display: flex;
  justify-content: space-around;
}

.popular__good_frame {
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(249, 245, 240);
  margin-top: 20px;
  position: relative;
}

.popular__goods_title {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 28px;
}
.popular__good_all {
  width: 192px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  background-color: #e62d0c;
  margin-right: 19px;
}
.good__name {
  width: 185px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.popular__goodname {
  width: 185px;
  height: 43px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.popular__priceold {
  color: gray;
  text-decoration: line-through;
}

.popular__prices {
  text-decoration: none;
  border: none;
}
.popular__goodsnipper {
  width: 144px;
  height: 128px;
  position: relative;
  display: block;
  top: 29px;
  left: 40px;
}
.popular__goodsnipper_width {
  width: 184px;
  height: 128px;
  position: relative;
  display: block;
  top: 29px;
  left: 40px;
}
.card__new_left {
  display: block;
  position: absolute;
  width: 70px;

  top: 0;
  right: 0;
  z-index: 1;
}

.popular__price {
  display: block;
  width: 141px;
  height: 38px;
  background-color: #e62d0c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  position: relative;
}
.popular__price::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  border-top: #ffffff 20px solid;
  border-left: #e62d0c 20px solid;
}
.popular__price::before {
  content: "";
  position: absolute;
  right: 0;
  top: 18px;
  border-bottom: #ffffff 20px solid;
  border-left: #e62d0c 20px solid;
}
.popular__manufacturers {
  width: 940px;
  height: 419px;
}
.popular__companies {
  width: 940px;
  height: 330px;
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px 145px 145px;
}
.popular__company {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(249, 245, 240);
}
.services {
  width: 1200px;
  height: 522px;
  background: rgb(222, 232, 241);
  margin-top: 70px;
  box-sizing: border-box;
  padding-left: 130px;
}
.services__serv {
  width: 940px;

  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
.services__servic {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.services__tagline {
  margin-top: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.services__deliv {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.services__delivery a {
  color: #ffffff;
}
.services__delivery {
  width: 240px;
  height: 185px;
  display: flex;
  flex-direction: column;
}
.services__DGK {
  width: 240px;
  height: 61px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(24, 24, 57);
  color: rgb(217, 209, 209);
  display: flex;
  justify-content: left;
  align-items: center;
}
.services__delivery_right {
  width: 619px;
  margin-left: 60px;
  display: flex;
  justify-content: flex-start;
  background-image: url(/image/Layer\ dostavka.png);
}
.services__guarantee_right {
  width: 619px;
  margin-left: 60px;
  display: flex;
  justify-content: flex-start;
  background-image: url(/image/Layer\ garantie.png);
}
.services__credit_right {
  width: 619px;
  margin-left: 60px;
  display: flex;
  justify-content: flex-start;
}
.services__credit_cons {
  display: flex;
  width: 331px;
}

.services__credit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#id1 {
  display: none;
}
#id2 {
  display: none;
}
#id3 {
  display: none;
}
#id1:target {
  display: block;
}
#id2:target {
  display: block;
}
#id3:target {
  display: block;
}

.services__credit_cons {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-size: 13px;
}
.services__bid {
  width: 192px;
  height: 38px;
  margin-top: 30px;
  background: #e62d0c;
  text-decoration: none;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.tehnomart__services {
  width: 940px;
  height: 356px;
  margin-top: 70px;
  display: flex;
  margin-bottom: 30px;
}
.tehnomart__company {
  width: 451px;
  height: 340px;
  display: flex;
  flex-direction: column;
}
.tehnomart__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.tehnomart__tagline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 20px;
  line-height: 20px;
}
.tehnomart__taglines {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 20px;
  line-height: 20px;
}
.tehnomart__trans {
  font-size: 20px;
  margin-top: 15px;
}
.tehnomart__details {
  width: 200px;
  height: 38px;
  margin-top: 20px;
  background: #e62d0c;
  border: none;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.tehnomart__map {
  margin-left: 150px;

  display: flex;
  flex-direction: column;
}
.map__info {
  margin-top: 25px;
  width: 300px;
  height: 38px;
  text-decoration: none;
  border: none;
  background-color: #e62d0c;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  width: 1200px;
  height: 200px;
  background-color: #32425c;
}
.footer__soc {
  width: 1200px;
  height: 100px;
  background: #293449;
}
